<nav>
  <nav class="max-w-[97.6%] mx-auto p-5 flex justify-between items-center relative flex-wrap">
    <!-- Title and Hamburger Icon Container -->
    <div class="flex items-center space-x-4">
      <h1 class="text-2xl font-bold">{{ site.title }}</h1>
      <button class="menu-icon button">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
        <path d="M480-400 40-640l440-240 440 240-440 240Zm0 160L63-467l84-46 333 182 333-182 84 46-417 227Zm0 160L63-307l84-46 333 182 333-182 84 46L480-80Zm0-411 273-149-273-149-273 149 273 149Zm0-149Z"/>
      </svg>  
    </button>        
      <!-- Centered Title -->
      <div class="absolute left-1/2 transform -translate-x-1/2">
        <span class="text-2xl font-bold">Frontend Developer</span>
      </div>
      <div class="wrapper">
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__list__item"><a href="#">Home</a></li>
            <li class="menu__list__item"><a href="#">Portfolio</a></li>
            <li class="menu__list__item"><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Theme Toggle (no change needed here) -->
    {% include theme-toggle.html %}
  </nav>