<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img class="image clip-frame"
    src="/assets/images/Bali.jpg"
    srcset="/assets/images/Bali-400w.jpg 400w, /assets/images/Bali-800w.jpg 800w, /assets/images/Bali-1200w.jpg 1200w"
    sizes="(max-width: 600px) 400px, (max-width: 1200px) 800px, 1200px"
    draggable="false" />
    <img class="image clip-frame" 
         src="/assets/images/Thailand.jpg" 
         alt="Thailand"
         srcset="/assets/images/Thailand-400w.jpg 400w,
                 /assets/images/Thailand-800w.jpg 800w,
                 /assets/images/Thailand-1200w.jpg 1200w"
         sizes="(max-width: 600px) 400px,
                (max-width: 1200px) 800px,
                1200px" 
         draggable="false" />
    <img class="image clip-frame" 
         src="/assets/images/Fiji.jpg" 
         alt="Fiji"
         srcset="/assets/images/Fiji-400w.jpg 400w,
                 /assets/images/Fiji-800w.jpg 800w,
                 /assets/images/Fiji-1200w.jpg 1200w"
         sizes="(max-width: 600px) 400px,
                (max-width: 1200px) 800px,
                1200px" 
         draggable="false" />
    <img class="image clip-frame" 
         src="/assets/images/Sumba.jpg" 
         alt="Sumba"
         srcset="/assets/images/Sumba-400w.jpg 400w,
                 /assets/images/Sumba-800w.jpg 800w,
                 /assets/images/Sumba-1200w.jpg 1200w"
         sizes="(max-width: 600px) 400px,
                (max-width: 1200px) 800px,
                1200px" 
         draggable="false" />
    <img class="image clip-frame" 
         src="/assets/images/Tulum.jpg" 
         alt="Tulum"
         srcset="/assets/images/Tulum-400w.jpg 400w,
                 /assets/images/Tulum-800w.jpg 800w,
                 /assets/images/Tulum-1200w.jpg 1200w"
         sizes="(max-width: 600px) 400px,
                (max-width: 1200px) 800px,
                1200px" 
         draggable="false" />
    <img class="image clip-frame" 
         src="/assets/images/Hawaii.jpg" 
         alt="Hawaii"
         srcset="/assets/images/Hawaii-400w.jpg 400w,
                 /assets/images/Hawaii-800w.jpg 800w,
                 /assets/images/Hawaii-1200w.jpg 1200w"
         sizes="(max-width: 600px) 400px,
                (max-width: 1200px) 800px,
                1200px" 
         draggable="false" />
</div>
