<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img class="image clip-frame" src="/assets/images/Bali.jpg" draggable="false" />
    <img class="image clip-frame" src="/assets/images/Thailand.jpg" draggable="false" />
    <img class="image clip-frame" src="/assets/images/Fiji.jpg" draggable="false" />
    <img class="image clip-frame" src="/assets/images/Sumba.jpg" draggable="false" />
    <img class="image clip-frame" src="/assets/images/Tulum.jpg" draggable="false" />
    <img class="image clip-frame" src="/assets/images/Hawaii.jpg" draggable="false" />
</div>