@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme toggle style 
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    cursor: pointer;
}
    */

body {
  font-family: "Arial", sans-serif; /* Replace 'Arial' with your preferred font */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: helps with box-sizing */
}



/* Default Light Theme */
body.light .menu__list__item a {
  color: rgb(0, 0, 0); /* Black color for links in light theme menu liks*/
}

body.light {
  display: flow-root;
  background-color: white;
  color: black;
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
}

body.light .markdown-body {
  background-color: rgba(0, 0, 0, 0) !important;
  color: black !important;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
  color: black;
}

body.light a {
  color: rgb(255, 255, 255);
}

body.light .menu-icon {
  fill: black;
}

/* Light theme hr */
body.light hr {
  border-color: rgb(0, 0, 0); /* Black border for the light theme */
}

/* Dark Theme */
body.dark {
  display: flow-root;
  background-color: #1a202c; /* Dark background */
  color: white;
}

body.dark .markdown-body {
  color: white;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: white;
}

body.dark a {
  color: white;
}

/*Footer styling */
.footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(31, 41, 55);
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly; /* Ensures equal spacing */
  align-items: center; /* Aligns icons vertically */
  gap: 20px; /* Space between icons */
  margin-top: 10px;
}

.social-icon {
  width: 24.5px;
  height: 25px;
  fill: white;
  transition: fill 0.3s ease;
}

.social-icon:hover {
  fill: #ff0; /* Set hover color (yellow) */
}

.no-extra-space {
  display: inline-block; /* Ensures only the icon is clickable */
}


/*** THEME ***Button default styles */
#theme-toggle {
  color: rgba(0, 0, 0, 0.356);
  padding: 3px 8px;
  border-radius: 16px;
  border: 2px inset #aaa; /* Define full border */
  font-size: 20px;
  cursor: pointer; /* Make sure it’s interactive */
  transition: background-color 0.3s, border-radius 0.3s; /* Smooth effect */
}

/* Hover Effect */
#theme-toggle:hover {
  background-color: #5555553d; /* Ensure hover color is visible */
  border-radius: 30px;
  border-color: #00000073; /* Change border color on hover */
}

/* Light Theme */
body.light #theme-toggle {
  background-color: #fff;
  color: black;
}

/* Dark Theme */
body.dark #theme-toggle {
  background-color: #222; /* Make sure it's not transparent */
  color: white;
}

/* Dark Theme Hover */
body.dark #theme-toggle:hover {

}




/* *** MENU *** Button Menu default styles */

#menu-toggle {
  padding: 3px 8px;
  font-size: 20px;
}

#menu-toggle:hover {
  background-color: #5555551e; /* Slightly lighter background on hover */
  border-radius: 30px;
  
}

/* Styles for light theme */
body.light #menu-toggle {
  color: black;
}

/* Styles for dark theme */
body.dark #menu-toggle {
  color: white;
}
