/* Theme toggle style 
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    cursor: pointer;
}
    */
/* Default Light Theme */
body.light {
  background-color: white;
  color: black;
}

body.light .markdown-body {
  background-color: rgba(0, 0, 0, 0) !important;
  color: black !important;
}


body.light h1, body.light h2, body.light h3, body.light h4, body.light h5, body.light h6 {
  color: black;
}

body.light a {
  color: rgb(255, 255, 255);
}

body.light .menu-icon {
  fill: black;
}

/* Dark Theme */
body.dark {
  background-color: #1a202c; /* Dark background */
  color: white;
}

body.dark .markdown-body {
  color: white;
}

body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
  color: white;
}

body.dark a {
  color: white;
}
