<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="apple-touch-icon" href="/favicon/apple-icon.png">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/menu.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/markdown.css' | relative_url }}">
  <script src="{{ site.baseurl }}/assets/js/menu.js" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  {% seo %}
</head>

<body>

  <main class="max-w-[100%] mx-auto">

    <div class="markdown-body mt-8">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>